/* primary text color #757575 */

/* primary background color #ffffff */

/* logo accent color #2196F3 */

/* logo text color #000000 */

/* title text color #212121 */

/* text accent and buttons active color #2196F3 */

/* hero titles color #FFFFFF */

/* footer text color rgba(255, 255, 255, 0.6) */

/* secondary (hero and footer) background color #2F303A */

/* section team and buttons background color #F5F4FA */

/* hero button active color #188CE8 */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --primary-bcg-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --section-bcg-color: #f5f5f5;
  --title-text-color: #212121;

  --secondary-bcg-color: #2f303a;

  --team-section-bcg-color: #f5f4fa;
  --button-choice-active: #188ce8;
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

/* Logo */

.logo-accent {
  color: var(--accent-color);
}

.logo-text {
  color: var(--logo-text-color);
}

/* Navigation */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* Address */

.contact {
  color: var(--primary-text-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--secondary-bcg-color);
  color: var(--secondary-text-color);
}

.hero-title {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: var(--button-choice-active);
}

/* Features */

.section {
  background-color: var(--section-bcg-color);
}

.title {
  color: var(--title-text-color);
}

/* Team */

.team-section {
  background-color: var(--team-section-bcg-color);
}

.team-card {
  background-color: var(--primary-bcg-color);
}

/* Footer */
.footer-bcg {
  background-color: var(--secondary-bcg-color);
}

.logo-item {
  color: var(--secondary-text-color);
}

.contact-map {
  color: var(--secondary-text-color);
}

.contact.accent {
  color: var(--footer-text-color);
}

/* Portfolio */

.projects {
  background-color: var(--primary-bcg-color);
}
